@model IEnumerable<BaiTap12._3.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
           ProductID
        </th>
        <th>
            ProductName
        </th>
        <th>
            CatalogyID
        </th>
        <th>
            Image
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.ProductID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ProductName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CatalogyID)
    </td>
    <td>
        @{ 
            string ImagePath = "~/Image/Product" + item.Image;
        }
        <img src="@Url.Content(ImagePath)" width="100" class="img-thumbnail" />
        <br />
        @Html.DisplayFor(modelItem => item.Image)
    </td>

    <td>
       
        @Html.ActionLink("Chi Tiết", "Details", new { id = item.ProductID }) |
        @Html.ActionLink("Thêm vào giỏ", "Delete", new { id = item.ProductID })
    </td>
</tr>
}

</table>
